<div>
    <select class="basic-selection-nodata">
        <option value="one">First</option>
        <option value="two" disabled="disabled">Second (disabled)</option>
        <option value="three" selected="selected">Third</option>
    </select>
</div>

<div>
    <select class="basic-selection-data"></select>
</div>

<div>
    <select class="test-remote-data"></select>
</div>

<div>
    <select class="test-callbacks"></select>
</div>

<div>
    <select class="test-config"></select>
</div>

<div>
	<select class="configured-width"></select>
</div>

<div>
    <select class="mapping-data"></select>
</div>

<div>
    <select class="enable-disable-method"></select>
    <select class="enable-disable-method-multiple"></select>
</div>