.DS_Store
.idea
.*.swp
.project
/dist/
.sass-cache
*.css
*.iml
*-ns.scss
**/nls/msgs.properties
target/
node_modules/
plugins_unit_test/SPoG_Framework.tar.gz
plugins_unit_test/SPoG_Framework.tar.gz.old
plugins_unit_test/jscover/
plugins_unit_test/node_modules/
plugins_unit_test/public/coverage/
plugins_unit_test/public/main-*
plugins_unit_test/public/coverage-*
plugins_unit_test/public/installed_plugins/
plugins_unit_test/public/widgetlib/
plugins_unit_test/public/uiUTTest.txt
